@import url('https://fonts.googleapis.com/css?family=Teko:300,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	 margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background:rgba(0,0,0,.6);
	font-family: 'Open Sans', sans-serif;
}
/*body.disable-scroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #cb7e1d;
}*/
.gridArea
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: '.. .. lo .. ..'
                         '.. ti ti ti ..'
                         '.. .. li .. ..'
                         '.. .. .. .. ..'
                         'in in in .. ..';
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    overflow: hidden;
}
.logo, .title, .link, .info
{
    width: 100%;
}
.info
{
    grid-area: in;
    transition: opacity 1s cubic-bezier(0.345, 0.005, 0.07, 1);
    text-align: left;
    padding-left: 15vmin;
    color: white;
    border-left: 3px solid white;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 2vmin;
}
.title
{
    grid-area: ti;
    text-align: center;
    color: #cb7e1d;
    font-size: 12vmin;
    line-height: 1;
    margin: 4% 0 0 0;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Teko', sans-serif;
    color:white;
    z-index: 9999999;
}
.title > div:nth-child(1), .title > div:nth-child(2)
{
    display: inline-block !important;
}
.title > div:nth-child(2)
{
    margin: 0 10px;
}
.logo
{
    grid-area: lo;
    max-width: 220px;
    margin: 0 auto;
}
.link
{
    grid-area: li;
}
.block
{
    display: block;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
    .gridArea
    {
        grid-template-areas: '.. lo lo lo ..'
                             '.. ti ti ti ..'
                             '.. li li li ..'
                             '.. in in in ..';
    }
    .title
    {
        font-size: 12vmin;
    }
    .info
    {
        padding-left: 0;
        border-left: none;
        font-size: 3vmin;
        text-align: center;
    }
    .link
    {
        font-size: 3vmin !important;
        letter-spacing: initial !important;
    }
    .logo
    {
        width: 80%;
        margin: auto;
    }
}
.bgAnimate{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background-image: url("../images/Homefasst.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
	animation: bgAnimate 20s linear backwards infinite;
}
.bgAnimate:before{
	position:absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	/*background-color: rgba(255,255,255,.2); */
}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/*overflow: hidden;*/
}
.fullscreen-video-wrap video{
	min-height: 100%;
	min-width: 100%;
}
#page-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.page-home2{
	z-index: 9902;
}
.page-home3{
	z-index: 9902;
	display:none;
}
.valign:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.valign{
    vertical-align: middle;
    display: inline-block;
}
.valign .valign__content {
    vertical-align: middle;
    display: inline-block;
}
.h1final{
	/*text-shadow: 2px 2px 2px #353535; */
}
.h1sp {
    display: block;
    letter-spacing: 15px;
}
.h2sp{
	letter-spacing: 30px;
    text-align: center;
    display: block;
    padding: 0 0 0 15px;
}
#page-home .wrapper:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f9a825;
}
#page-home .slide__content {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.345, 0.005, 0.07, 1);
    transition: transform 1s cubic-bezier(0.345, 0.005, 0.07, 1);
}
#page-home .slide__content img {
    display: block;
    margin: -125px auto 0 auto;
    width: 170px;
}
.btn-border {
    position: relative;
    border: 2px solid #FFFFFF;
    height: 50px;
    line-height: 48px;
    padding: 0 45px;
    overflow: hidden;
    color: #FFFFFF;
    -webkit-transition: color 400ms cubic-bezier(0.345, 0.005, 0.07, 1);
    transition: color 400ms cubic-bezier(0.345, 0.005, 0.07, 1);
    font-size: 11px;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
}
.btn-border:hover:before {
    -webkit-transform: scaleY(1) translateZ(0);
    transform: scaleY(1) translateZ(0);
}
.btn-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: scaleY(0) translateZ(0);
    transform: scaleY(0) translateZ(0);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.345, 0.005, 0.07, 1);
    transition: transform 400ms cubic-bezier(0.345, 0.005, 0.07, 1);
    z-index: -1;
}
#page-home .slide__content .btn-border {
    display: block;
    margin-top: 390px;
}
.btn-border:hover {
    color: #cb7e1d;
}
#page-home .info-left {
    left: 0;
    bottom: 65px;
}
#page-home .info {
    position: absolute;
    bottom: 50px;
    /*opacity: 0;*/
    -webkit-transition: opacity 1s cubic-bezier(0.345, 0.005, 0.07, 1);
    transition: opacity 1s cubic-bezier(0.345, 0.005, 0.07, 1);
}
#page-home .info-left .paragraphe {
    position: relative;
    padding-left: 90px;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 500;
}
#page-home .info-left .paragraphe:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #FFFFFF;
}
#page-home .info-left .paragraphe .line {
    display: block;
}



canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* ANIMACION BACKGROUND */
	#load{
		background: #062047;
	}
	#load-bottom{
		background: #062047;
	}
	body #load.loader-removed {
		opacity: 0;
		visibility: hidden;
	}
	body #load, #load-bottom {
		/*display: block;*/
		height: 100%;
		overflow: hidden;
		position: fixed;
		width: 100%;
		z-index: 9901;
		opacity: 1;
		visibility: visible;
		-webkit-transition: all .35s ease-out;
		transition: all .35s ease-out;
		transform: translateY(0);
	}
	.load-wrap {
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
	}
/* */

/* ANIMACION LETRAS */
#page-home .anim-typo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
	z-index: 9902;
}
#page-home.display .mask--1 {
    -webkit-transform: translateY(-100%) translateZ(0);
    transform: translateY(-100%) translateZ(0);
}
#page-home .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.345, 0.005, 0.07, 1);
    transition: transform 1s cubic-bezier(0.345, 0.005, 0.07, 1);
}
#page-home.display .mask--1 .mask__inner {
    -webkit-transform: translateY(100%) translateZ(0);
    transform: translateY(100%) translateZ(0);
}
#page-home .mask .mask__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.345, 0.005, 0.07, 1);
    transition: transform 1s cubic-bezier(0.345, 0.005, 0.07, 1);
}
#page-home .panel--left {
    left: 0;
}
#page-home .panel--right {
    right: 0;
}
#page-home .panel {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#page-home .letter {
    /*position: fixed;
    top: 0;
    left: 0*/
	position: absolute;
    font-size: 126px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 15px;
    color: #FFFFFF;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden;
	font-family: 'Teko', sans-serif;
}
/* */
@media only screen and(max-width: 850px), (orientation: portrait)
{
    .h1fasst {
        font-size: 50px;
    }
}