:root{
    /* FONT SIZES */
    --navbarLinkSize: 16px;
    
    /* COLORS */
    --backgroundFooter: rgba(28,30,33,1);
    --primaryColor: rgba(249,187,0,1);
}
html
{
    background-color: black;
    overflow-x: hidden;
}
/* IMPORT FONTS */

/* DEFAULTS (Color Text, Size Text and more) */
.primary-color{color: var(--primaryColor);}
.btn-visita{font-size: 14px;}

@import url('https://fonts.googleapis.com/css?family=Teko:300,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
h1{font-family: 'Teko', sans-serif;}
.cont-avp{padding-top: 100px;}
.icon-fs{font-size: 28px;}
.icon-fsx{font-size: 38px;}
/* NAVBAR */
#navbar-transparent{background-color: rgba(0,0,0,.8);}
#navbar-toggle-mobile .container .row p a,.navbar-nav .nav-item a{font-size: var(--navbarLinkSize);}
.navbar-nav .nav-item a{color: white !important; transition:color 0.4s ease;}

/* MODAL CONTACTO */
#modal-contacto-base{
    background-color: rgba(0,41,84,1);
}

.btn-contacto{
    color: white;
    background-color: black;
    border-color: black;
}

.btn-contacto:hover{
    color: white;
    background-color: transparent;
    border-color: black;
}
.lang_site{margin: 0 0 0 25px;}
.img-iso{max-width: 190px;}

/* FOOTER */
#myFooter{background-color: var(--backgroundFooter);}
.link-footer:hover{text-decoration: underline !important;color: var(--primaryColor);}

/* MEDIA QUERIES */
/*  Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px | iPad Pro Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-nav .nav-item{padding-left: 0 !important;padding-right: 0 !important;}
}

/*  Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px | iPad, Pixel LG 2 y iPhone X Landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-nav .nav-item{padding-left: 0 !important;padding-right: 0 !important;}
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px | iPad Portrait, Celulares Landscape */
@media (min-width: 575px) and (max-width: 768px) {

}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px | Celulares Portrait */
@media (min-width: 320px) and (max-width: 575px) {
    #ul-numeros, #ul-numeros li{width: unset !important;}
}
li.nav-item
{
    transition: background 0.4s ease;
    
}
li.nav-item a, #navbar-transparent a
{
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: 5px;
    font-size: 12px !important;
}
li.nav-item:hover, li.nav-item.active {
    background-color: white;
    color: black;
}
li.nav-item:hover .nav-link, li.nav-item.active .nav-link
{
    color: black !important;
    
}

.btn:hover,.btn-dark:hover {
    color: var(--primaryColor) !important; 
    background-color: transparent !important;
}

.btn {
    position: relative;
    transition: color 0.4s ease;
    z-index: 1;
    overflow: hidden;
    letter-spacing: 2px;
}
.btn::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: height 0.4s ease, top 0.4s ease;
}
.btn:hover::before
{
    height: 100%;
    top: 0;
}