<style>
    @media (min-width: 320px) and (max-width: 575px) {
        ul.list-group{
            width: 100% !important;
        }
    }
</style>   
<section class="container cont-avp">
    <h1 class="text-center mt-5">Aviso de privacidad</h1>
    <div class="row mt-5 mx-0">
        <p class="text-justify font-weight-light">
            En cumplimiento de la <span class="font-weight-bold">Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPP)</span> hacemos de su conocimiento que <span class="font-weight-bold">FASST S.A. DE C.V.</span>, con domicilio en Av. 5 de febrero no. 1025 Int. 8-A, Col. José María Arteaga, CP 76136, Querétaro, Qro., es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección.
            <br><br>
            Para estar en posibilidad de permitirle el acceso a nuestras instalaciones, requerimos que nos proporcione la siguiente información, misma que deberá <span class="font-weight-bold">Ud. asentar electrónicamente en el registro de visitantes:</span>
        </p>
        <div class="container my-3">
            <ul class="list-group w-50 float-md-left float-lg-left">
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Tipo de Visita.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Nombre completo.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Accesorios (Equipo de Cómputo)</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Empresa de Procedencia.</li>
            </ul>
            <ul class="list-group w-50 float-md-left float-lg-left">
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Persona y Departamento que Visita.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Video.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Motivo de Visita.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Hora de entrada y salida, debiendo proporcionar una identificación, la cual le será devuelta al salir.</li>
            </ul>
        </div>
        <p class="text-justify font-weight-light">
            Dicha información será utilizada exclusivamente con la finalidad de llevar un control de las personas que accedan a nuestras instalaciones.
            <br><br>
            <span class="font-weight-bold">FASST, S.A. de C.V.</span>, se compromete a no transferir su información personal a terceros, sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
            <br><br>
            Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos. Estas modificaciones estarán disponibles al público mediante pósters colocados en el área de Recursos Humanos y Recepción, o podrá ser consultada en la página web <a target="_blank" href="https://www.fasst.com.mx/">www.fasst.com.mx</a> en la pestaña marcada como <span class="font-weight-bold">Aviso de Privacidad.</span>
            <br><br>
            Usted tiene derecho de acceder a sus datos personales, rectificarlos y cancelarlos, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin haya otorgado; para ello es necesario que envíe la solicitud en los términos que marca la Ley Federal de Protección de Datos Personales en Posesión de los Particulares en su Art. 29, a nuestro <span class="font-weight-normal">Departamento de Capital Humano, ubicado en Av. 5 de febrero no. 1025 Int. 8-A, Col. José Ma. Arteaga, Querétaro, Qro., CP 76136 al teléfono (442) 251 92 00; o bien, al correo <a target="_blank" href="mailto:ch@fasst.com.mx">ch@fasst.com.mx</a>.</span>
            <br><br>
            <span class="font-weight-bold">Su petición deberá ir acompañada de la siguiente información:</span>
        </p>
        <div class="container my-3">
            <ul class="list-group w-50 float-md-left float-lg-left">
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Nombre y domicilio del solicitante.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Números telefónicos del solicitante.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> En su caso, documentación justificativa de la modificación u oposición solicitada.</li>
            </ul>
            <ul class="list-group w-50 float-md-left float-lg-left">
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Carta solicitud dirigida a nuestro Departamento de Capital Humano, explicando los motivos de su solicitud.</li>
                <li class="list-group-item border-0"><i class="fas fa-chevron-right"></i> Correo electrónico.</li>
            </ul>
        </div>
        <p class="text-center font-weight-bold mb-5">
            Tendremos un plazo máximo de 20 días hábiles para atender su petición y le informaremos sobre la procedencia de la misma a los teléfonos que nos proporcione y/o a su correo electrónico.
        </p>
    </div>
</section>