<style>
    @media (min-width: 320px) and (max-width: 575px) {
        ul.list-group{
            width: 100% !important;
        }
    }
</style>   
<section class="container cont-avp">
    <h1 class="text-center mt-5">Correo enviado</h1>
    <div class="row mt-5 mx-0">
        <p class="text-center font-weight-light">
            Gracias por su interés,<br>
            el correo se envió con éxito.<br>
        </p>
    </div>
</section>