<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0 position-relative">
            <div class="aos-init w-100" data-aos="fade-right" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-left font-weight-bold text-uppercase text-white ml-lg-5">
                    Diademas<br>Telefónicas
                </h1>
                <div class="w-100 text-center text-lg-left text-white ml-lg-5">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/accutone/logo_accutone.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Distribución y comercialización de diademas telefónicas profesionales<br> para corporativos y centros de contacto en México y Latinoamérica.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque2" id="bloque-diademas">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/accutone/accutone_producto_lateral.jpg" alt="" class="img-fluid w-100 h-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 mb-5 py-5 d-flex">
        <div class="container-fluid pl-md-0 pl-lg-0 m-auto">
            <div class="row mx-0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="border-bottom border-light pb-2">
                        <i class="fas fa-headset d-inline mr-4 color-p icon-fs"></i>
                        <!-- <img class="img-fluid float-left mr-4" src="img/accutone/accutone_icon.png" alt="Keyword"> -->
                        <h2 class="font-weight-light color-p title-diademas d-inline">Accutone</h2>
                    </div>
                    <p class="text-justify p-3 text-white my-3 ml-md-3 ml-lg-3" id="texto-diademas">
                        <span class="font-weight-bold font-italic">Cambiando la forma de contacto con tus clientes</span>
                        <br><br>
                        Creamos las mejores soluciones de contacto telefónico con diademas telefónicas y para PC de la más alta calidad en el mercado. Tenemos una presencia en más de 35 países a nivel global. Manejamos una amplia variedad de modelos que soportan el uso rudo, son ergonómicas y están equipadas con la tecnología necesaria para brindar desempeño de la más alta calidad en comunicaciones.
                        <br><br>
                        <span class="color-p font-weight-bold">DIADEMAS TELEFÓNICAS Y PARA PC + GARANTÍA + SOPORTE</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center ml-md-3 ml-lg-3">
                        <a href="https://www.accutone.com.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visita accutone.com.mx</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">96</span><span style="font-size: 50px">%</span><br>De satisfacción de<br>nuestros clientes</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">7</span><br>Países que atendemos<br>en latinoamérica</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">20,000</span><br>Diademas colocadas<br> y seguimos contando</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>geolocalizacion-y-telemetria<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Siguiente División</a>
        </div>
    </div>
</div>