<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100 p-5" data-aos="fade-right" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="text-center text-lg-left font-weight-bold text-uppercase text-white ml-lg-5 text-center">
                    Grupo Fasst
                </h1>
                <div class="text-white mx-md-5 ml-lg-5">
                    <div class="row">
                        <div class="col-lg-12 my-3 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                Fundada en septiembre de 1980 en la ciudad de Querétaro, FASST, S.A. DE C.V. es una empresa mexicana con gran experiencia en el mercado de Tecnologías de Información y Comunicación. Con un amplio portafolio de productos y soluciones que transforman el negocio de nuestros clientes, acompañamos a las organizaciones en el alcance de sus objetivos.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                <span class="font-weight-bold d-block h4">NUESTRA <span class="primary-color">MISIÓN</span></span><br>
                                Hacer eficientemente los procesos de negocios de organizaciones medianas y grandes, mediante el uso de Tecnologías de Información y Comunicaciones líderes; fomentando una relación estrecha y dando respuesta oportuna a sus requerimientos, cuidando nuestro entorno y con responsabilidad social.
                            </p>
                        </div>
                        <div class="col-lg-4 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                <span class="font-weight-bold d-block h4">NUESTRA <span class="primary-color">VISIÓN</span></span><br>
                                Somos una empresa que tiene presencia y reconocimiento internacional, con productos y servicios propios alineados a estándares mundiales de calidad y responsabilidad social, atractiva a cualquier inversionista. 
                            </p>
                        </div>
                        <div class="col-lg-4 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                <span class="font-weight-bold d-block h4">POLÍTICA DE <span class="primary-color">CALIDAD</span></span><br>
                                Satisfacer los requerimientos de nuestros clientes y partes interesadas, ofreciendo un servicio de calidad distintivo a través de la mejora continua basada en la participación del capital humano y la optimización de los procesos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque2" id="bloque-valores">
    <div class="row mx-0">
        <div class="col-lg-5 col-md-12 col-sm-12 px-0">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="bg-light active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1" class="bg-light"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2" class="bg-light"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3" class="bg-light"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4" class="bg-light"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">1980</h3>
                            <p class="text-justify text-caption">
                                Iniciamos desarrollando aplicaciones a la medida para clientes locales y brindando asesoría en computación y procesamiento de información.
                            </p>
                            <h3 class="text-left">1984</h3>
                            <p class="text-justify text-caption">
                                Ampliamos nuestra oferta de servicios desarrollando sistemas y ofreciendo asesoría general, creciendo nuestra cartera de clientes.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">1986</h3>
                            <p class="text-justify text-caption">
                                La alianza comercial con Hewlett Packard de México nos permitió iniciar dos nuevas áreas de negocio: comercialización y mantenimiento de <i>hardware</i>.
                            </p>
                            <h3 class="text-left">1987</h3>
                            <p class="text-justify text-caption">
                                Nos integramos a la cadena de Consultores en Informática y Computación, S.A. de C.V. (hoy Compusoluciones, uno de los mayoristas de <i>hardware</i> y <i>software</i> más importantes a nivel nacional).
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">1999</h3>
                            <p class="text-justify text-caption">
                                Evolucionamos mediante la apertura de CallFasst, un centro de contacto (<i>contact center</i>), orientado a ofrecer servicios de Atención a Clientes, Soporte Técnico, Cobranza y <i>Telemarketing</i>.
                            </p>
                            <h3 class="text-left">2005</h3>
                            <p class="text-justify text-caption">
                                Inicia operaciones Softelligence, destinada al desarrollo de <i>software</i> y sistemas en tecnología Microsoft a la medida, portales web y de e-commerce. Además, a través de esta área, se cuenta con la distribución exclusiva de los productos Accutone en América Latina.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">2006</h3>
                            <p class="text-justify text-caption">
                                Softelligence crece para construirse como una nueva sociedad.
                            </p>
                            <h3 class="text-left">2007</h3>
                            <p class="text-justify text-caption">
                                Inicia operaciones Posicionart, una división de Softelligence dedicada a ofrecer servicios de <i>marketing</i> digital innovadores y profesionales.
                            </p>
                            <h3 class="text-left">2008</h3>
                            <p class="text-justify text-caption">
                                CallFasst empieza a colaborar con empresas del mercado español, por su calidad y costos más competitivos frente a otros centros de contacto.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">2010</h3>
                            <p class="text-justify text-caption">
                                Softelligence inicia con su proyecto de geolocalización y desarrolla su propio GPS miniatura; consiguiendo ese mismo año la certificación de Moprosoft (Modelo de Procesos para la Industria del <i>Software</i>).
                                <br><br>
                                Al mismo tiempo, CallFasst obtiene la certificación ISO 9001:2008 (que mantiene a la fecha como ISO 9001:2015) y se alía con Compucad S.A. de C.V. para aumentar su participación en el mercado de TI, con marcas líderes a nivel mundial como Autodesk, Adobe, WMware y Microsoft.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 py-5 py-md-5 pt-lg-5 pb-lg-0 d-flex">
            <div class="container-fluid pl-md-0 pl-lg-0 m-auto">
                <div class="row mx-0">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="border-bottom border-light pb-2">
                            <!-- <img class="img-fluid float-left mr-4" src="img/fasst/grupo_fasst_valores_icon.png" alt="Keyword"> -->
                            <i class="fas fa-hand-holding-heart d-inline mr-4 color-p icon-fs"></i>
                            <h2 class="text-uppercase font-weight-light d-inline text-white title-valores">Nuestros Valores</h2>
                        </div>
                        <p class="text-justify p-3 text-white my-3 ml-md-3 ml-lg-3" id="texto-valores">
                            <span class="font-weight-bold d-block h4">Lealtad:</span> Respaldamos los compromisos adquiridos con nuestros clientes, proveedores, empresa y sociedad, consistentemente. 
                            <br><br>
                            <span class="font-weight-bold d-block h4">Honestidad:</span> Somos íntegros y actuamos de forma transparente con los clientes, proveedores, empresa y sociedad para lograr los objetivos comunes. 
                            <br><br>
                            <span class="font-weight-bold d-block h4">Congruencia:</span> Pensamos y actuamos acorde a nuestros valores para el cumplimiento de los compromisos adquiridos con nuestros clientes, proveedores, empresa y sociedad. 
                            <br><br>
                            <span class="font-weight-bold d-block h4">Respeto:</span> Aceptamos y acatamos las normas y preceptos establecidos por la empresa con los clientes, proveedores y sociedad. 
                            <br><br>
                            <span class="font-weight-bold d-block h4">Responsabilidad:</span> Cumplimos los compromisos adquiridos con nuestros clientes, proveedores, empresa, medio ambiente y sociedad. 
                            <br><br>
                            <span class="font-weight-bold d-block h4">Confianza:</span> Creemos en la palabra y actuación de nuestros clientes, proveedores, empresa y sociedad como base de todas nuestras relaciones. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white font-weight-bold mx-md-5 mx-lg-5"><span style='font-size:50px'>+</span><span class="num-title">30</span><br>Años de experiencia<br>e innovación continua</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white font-weight-bold mx-md-5 mx-lg-5"><span class="num-title">9</span><br>Marcas consolidadas<br>en nuestras áreas<br>de negocio</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white font-weight-bold mx-md-5 mx-lg-5"><span style='font-size:50px'>+</span><span class="num-title">7</span><br>Alianzas<br>estratégicas con las<br>mejores empresas de t.i.</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>contact-center<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Siguiente División</a>
        </div>
    </div>
</div>