<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-left" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-right font-weight-bold text-uppercase text-white">
                    Contact<br>Center
                </h1>
                <div class="w-100 text-center text-lg-right text-white">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/home/logo_callfasst.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                        <img id="image-banner-2" src="<?php echo $httpProtocol.$host.$url ?>img/home/logo_contactum.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Servicio de <i>inbound</i> y <i>outbound</i> por parte de un equipo de agentes con amplia<br> experiencia y altamente capacitados en funciones de ventas, cobranza,<br> atención y servicio al cliente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque2" id="bloque-experiencia">
    <div class="row mx-0">
        <div class="col-lg-4 col-md-4 col-sm-12 px-0 d-flex">
            <!--
            <div class="embed-responsive-1by1 m-auto">
                <video autoplay loop muted class="embed-responsive-item w-100" src="img/home/Callfasst_OK_Cuadrado.mp4"></video>
            </div>
            -->
            <img src="<?php echo $httpProtocol.$host.$url ?>img/home/Callfasst_OK_Cuadrado.jpg" alt="contact center" class="img-fluid m-auto">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 py-5 pl-md-0 pl-lg-0 d-flex">
            <div class="container-fluid pl-md-0 pl-lg-0 m-auto">
                <div>
                    <div class="w-75 pl-md-3 pl-lg-3 pb-3 border-bottom border-light float-left mb-lg-0 mb-md-0 mb-4" id="container-title-exp">
                        <i class="fas fa-headset d-inline mr-4 color-p icon-fsx"></i>
                        <!-- <img class="img-fluid float-left mr-4" src="img/home/contact_center_icon.png" alt="Keyword"> -->
                        <h2 id="title-exp" class="text-uppercase text-white font-weight-light d-inline">Experiencias de calidad para tus clientes</h2>
                    </div>
                    <img class="d-block img-fluid mx-auto img-iso" src="<?php echo $httpProtocol.$host.$url ?>img/home/contact_center_iso.png" alt="Keyword">
                </div>
                <p class="text-justify p-3 text-white my-3 ml-md-3 ml-lg-3" id="texto-exp">
                    Nuestra experiencia nos permite apoyar y dar solución efectiva a importantes empresas de sectores tan diversos como telecomunicaciones, turístico, <i>e-commerce</i>, gubernamental, tecnologías de la información y <i>marketing</i>. Todo ello gracias a nuestros agentes altamente capacitados en funciones de ventas, cobranza, soporte técnico y atención al cliente que comparten un enfoque de servicio y fidelización del cliente.
                </p>
                <div class="text-lg-left text-md-left text-center ml-md-3 ml-lg-3">
                    <a href="https://www.callfasst.com/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visita callfasst.com</a>  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm w-100" id="ul-numeros">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white w-25"><span class="num-title">20</span><br>años de éxito</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white w-25"><span class="num-title">1,300</span><br>Posiciones en<br> Querétaro &amp;<br>San Luis Potosí</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white w-25"><span class="num-title">1,500</span><br>Empleados</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white w-25"><span class="num-title">3</span><br>Millones de<br>Interacciones<br>Mensuales</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>reclutamiento-y-seleccion<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Siguiente División</a>
        </div>
    </div>
</div>