<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-right" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-left font-weight-bold text-uppercase text-white ml-lg-5">
                    Marketing<br>Digital
                </h1>
                <div class="w-100 text-center text-lg-left text-white ml-lg-5 mt-5">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/marketing/Bitamina-Digital.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Desarrollo e implementación de estrategias digitales efectivas que<br>inspiran a la acción en redes sociales, <i>eCommerce</i>, SEM y SEO.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque2" id="bloque-posicionart">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/marketing/mkt_digital_estrategia_lateral.jpg" alt="" class="img-fluid w-100 h-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 mb-5 py-5 d-flex">
        <div class="container-fluid pl-md-0 pl-lg-0 m-auto">
            <div class="row mx-0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="border-bottom border-light pb-2">
                        <!-- <img class="img-fluid float-left mr-4" src="img/marketing/mkt_digital_icon.png" alt="Keyword"> -->
                        <i class="fas fa-chart-line d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light color-p d-inline title-posicionart">Bitamina Digital</h2>
                    </div>
                    <p class="text-justify p-3 text-white my-3 ml-md-3 ml-lg-3" id="texto-posicionart">
                        <span class="font-weight-bold font-italic">Una agencia digital transformadora con chispa creativa</span>
                        <br><br>
                        Nuestras estrategias digitales y creativas multicanal transmiten el mensaje correcto a la audiencia correcta en el momento adecuado, creando conexiones más significativas. Combinamos información con pensamiento creativo para construir estrategias y experiencias que transforman los negocios, desde la creación cuidadosa de asombroso contenido hasta su optimización en línea con nuestros conocimientos de SEO, SEM y PPC, sin mencionar nuestras excepcionales habilidades en redes sociales.
                        <br><br>
                        <span class="color-p font-weight-bold">DISEÑO WEB + SEO + SEM + PPC + SOCIAL MEDIA + ECOMMERCE</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center ml-md-3 ml-lg-3">
                        <a href="https://www.bitaminadigital.com/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visita bitaminadigital.com</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">10,000</span><br>Interacciones<br>mensuales</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">100,000</span><br>Visitas únicas a<br>nuestros sitios</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">4,000</span><br>Keywords en los<br>primeros lugares</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>software-y-crm<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Siguiente División</a>
        </div>
    </div>
</div>