<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-left" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-right font-weight-bold text-uppercase text-white">
                    Reclutamiento<br>&amp; Selección
                </h1>
                <div class="w-100 text-center text-lg-right text-white">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/reclutamiento/reclutamiento_logo_qre.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                        <img id="image-banner-2" src="<?php echo $httpProtocol.$host.$url ?>img/reclutamiento/reclutamiento_logo_trabajo_vacantes.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Servicio profesional de reclutamiento y contratación altamente<br>especializado en los estados de Querétaro y San Luis Potosí.
                        <br><br>
                        Encontramos no sólo a los candidatos más calificados, sino a<br>los que mejor se adaptan a la empresa y posición.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0" id="bloque-vacantes">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/reclutamiento/reclutamiento_seleccion_personal_lateral.jpg" alt="" class="img-fluid h-100 w-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="container pl-md-0 pl-lg-0">
            <div class="row pb-4 pt-5 mx-0">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pb-2">
                        <!-- <img class="img-fluid float-left mr-4" src="img/reclutamiento/reclutamiento_icon.png" alt="Keyword"> -->
                        <i class="fas fa-user-friends d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="text-uppercase font-weight-light text-white title-qre d-inline">QRE<span class="invisible">________________</span></h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-qre">
                        <span class="font-weight-bold font-italic">Creemos en los recursos humanos: es lo que hacemos</span>
                        <br><br>
                        Con un enfoque holístico en atracción, evaluación y capacitación de recursos humanos, QRE es una de las compañías de reclutamiento de recursos humanos más confiables en los estados de Querétaro y San Luis Potosí. Nos enorgullecemos de nuestro compromiso con nuestros activos más importantes, nuestra gente, a través del reconocimiento y la recompensa. Nuestros valores fundamentales sustentan todo lo que hacemos y son reflejados por nuestra gente.
                        <br><br>
                        <span class="color-p font-weight-bold">ATRACCIÓN + EVALUACIÓN + DESARROLLO ORGANIZACIONAL + TRAINNING + TERCERIZACIÓN</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center mt-4">
                        <a href="https://www.qre.com.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visita qre.com.mx</a>  
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pb-2">
                        <i class="fas fa-user-friends d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white title-vacantes d-inline">Trabajo y Vacantes</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-vacantes">
                        <span class="font-weight-bold font-italic">Somos la clave para formar vínculos laborales</span>
                        <br><br>
                        Actualmente, las redes sociales son un excelente medio para conectarse con familiares y amigos. Hoy en día son una forma efectiva de conectarte con tu próximo empleador o empleado. Trabajo y Vacantes es una comunidad en línea que busca ser un puente entre empleadores y empleados, ayudando a difundir oportunidades laborales en los estados de Querétaro y San Luis Potosí.
                        <br><br><br><br>
                        <span class="color-p font-weight-bold">DIFUSIÓN DE VACANTES + RECLUTAMIENTO</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center mt-4">
                        <a href="https://www.trabajoyvacantes.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visita trabajoyvacantes.mx</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">45,518</span><br>prospectos<br>&amp; seguimos contando</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">20,000</span><br>Entrevistas</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">200</span><br>Colocaciones<br>al mes</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>diademas-telefonicas<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Siguiente División</a>
        </div>
    </div>
</div>