<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-left" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-right font-weight-bold text-uppercase text-white">
                    Software<br>&amp; CRM
                </h1>
                <div class="w-100 text-center text-lg-right text-white">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/software/logo_kapta.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                        <img id="image-banner-2" src="<?php echo $httpProtocol.$host.$url ?>img/software/logo_prospekta.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Desarrollos que hacen más efectivas las operaciones de<br> captación de prospectos para instituciones educativas y<br> candidatos para el reclutamiento de personal.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0" id="bloque-crm">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/software/software_lateral_dashboard.jpg" alt="" class="img-fluid h-100 w-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 ">
        <div class="container pl-md-0 pl-lg-0">
            <div class="row py-1 mx-0">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pt-4 pb-2">
                        <!-- <img class="img-fluid float-left mr-4 pt-4" src="img/software/kapta_icon.png" alt="Keyword"> -->
                        <i class="fas fa-graduation-cap d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white d-inline title-kapta pt-4">Kapta crm</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-kapta">
                        <span class="font-weight-bold font-italic">La solución digital que cambiará tu escuela</span>
                        <br><br>
                        Una buena plataforma de gestión CRM es la columna vertebral de los esfuerzos de <i>marketing</i> en el proceso de prospección de estudiantes.
                        KAPTA es un sistema que ayuda a los profesionales de la educación a fomentar las relaciones con prospectos y generar información basada en datos para ilustrar el progreso, como el seguimiento de la productividad general y el avance de cada miembro individual del equipo, y a optimizar sus admisiones e iniciativas de marketing para ahorrar tiempo y esfuerzo.
                        <br><br>
                        <span class="color-p font-weight-bold">MÚLTIPLES USUARIOS + REPORTES + ALERTAS RESPUESTAS AUTOMATIZADAS</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center">
                        <a href="https://www.kaptacrm.net/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita my-4" target="_blank">Visita kaptacrm.net</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pt-4 pb-2">
                        <!-- <img class="img-fluid float-left mr-4 pt-4" src="img/software/prospekta_icon.png" alt="Keyword"> -->
                        <i class="fas fa-clipboard-list d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white d-inline title-prospekta pt-4">Prospekta</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-prospketa">
                        <span class="font-weight-bold font-italic">Convierte tu proceso de reclutamiento en una ventaja competitiva</span>
                        <br><br>
                        Prospekta es un sistema de reclutamiento y seguimiento de aplicantes, diseñado para optimizar todo el proceso de contratación de personal y atracción de talento. Encuentra mejores candidatos, realiza entrevistas más específicas y toma decisiones de contratación basadas en datos. Lleva a tu empresa la herramienta para optimizar su proceso de reclutamiento, de principio a fin.
                        <br><br>
                        <span class="color-p font-weight-bold">PUBLICACIÓN DE VACANTES + DIFUSIÓN + AGENDA BASES DE DATOS + REPORTES</span>
                        <br><br>
                    </p>
                    <div class="text-lg-left text-md-left text-center">
                        <a href="https://www.prospektacrm.net/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita my-4" target="_blank">Visita prospektacrm.net</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">40,000</span><br>Candidatos registrados<br>y atendidos</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">96</span><span style="font-size: 50px">%</span><br>De seguimiento efectivo<br>de candidatos</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">6,000</span><br>Alumnos<br>Registrados</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>grupo-fasst<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark bg-transparent rounded-0 text-uppercase text-white btn-visita">Siguiente División</a>
        </div>
    </div>
</div>