<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0 position-relative">
            <div class="aos-init w-100" data-aos="fade-right" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-left font-weight-bold text-uppercase text-white ml-lg-5">
                    Telephone<br> headsets
                </h1>
                <div class="w-100 text-center text-lg-left text-white ml-lg-5">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/accutone/logo_accutone.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Professional headset distribution and commercialization<br> for corporate centers and contact centers in Mexico and Latin America.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque2" id="bloque-diademas">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/accutone/accutone_producto_lateral.jpg" alt="" class="img-fluid w-100 h-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 mb-5 py-5 d-flex">
        <div class="container-fluid pl-md-0 pl-lg-0 m-auto">
            <div class="row mx-0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="border-bottom border-light pb-2">
                        <i class="fas fa-headset d-inline mr-4 color-p icon-fs"></i>
                        <!-- <img class="img-fluid float-left mr-4" src="img/accutone/accutone_icon.png" alt="Keyword"> -->
                        <h2 class="font-weight-light color-p title-diademas d-inline">Accutone</h2>
                    </div>
                    <p class="text-justify p-3 text-white my-3 ml-md-3 ml-lg-3" id="texto-diademas">
                        <span class="font-weight-bold font-italic">Changing the way you connect with your clients</span>
                        <br><br>
                        We create the best solutions for telephone contact with the highest quality headsets for phones and computers in the market. We have presence in over 35 countries around the globe. We offer a wide variety of models for heavy-duty usage, ergonomic and equipped with the technology to offer the highest quality performance.
                        <br><br>
                        <span class="color-p font-weight-bold">TELEPHONE AND PC HEADSETS + WARRANTY + SUPPORT</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center ml-md-3 ml-lg-3">
                        <a href="https://www.accutone.com.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visit accutone.com.mx</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">96</span><span style="font-size: 50px">%</span><br>customer<br> satisfaction</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">7</span><br>countries we assis<br> in Latin America</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">20,000</span><br>headsets sold<br> and counting</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>en/geolocation-and-telemetric<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Next Division</a>
        </div>
    </div>
</div>