<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100 p-5" data-aos="fade-right" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="text-center text-lg-left font-weight-bold text-uppercase text-white ml-lg-5 text-center">
                    Fasst group
                </h1>
                <div class="text-white mx-md-5 ml-lg-5">
                    <div class="row">
                        <div class="col-lg-12 my-3 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                Founded on September, 1980, in the city of Queretaro, FASST, S.A. de C.V. is a Mexican company with wide experience in the fields of Information Technologies and Communications. With a broad portfolio of products and solutions to transform our client’s businesses, we guide organizations in the pursuit of their goals.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                <span class="font-weight-bold d-block h4">OUR <span class="primary-color">MISSION</span></span><br>
                                To efficiently conduct business processes of medium size and large organizations through the use of Leading Communications and Information technologies; promoting a close relationship and providing a timely response to their requirements, with a focus on the preservation of the environment and social responsibility.
                            </p>
                        </div>
                        <div class="col-lg-4 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                <span class="font-weight-bold d-block h4">OUR <span class="primary-color">VISION</span></span><br>
                                To become a company with International presence, through its own products and services and a worldwide quality standard and a social responsibility focus, that is attractive to any investor.
                            </p>
                        </div>
                        <div class="col-lg-4 transparent-background">
                            <p class="my-3 p-3 text-justify">
                                <span class="font-weight-bold d-block h4">QUALITY <span class="primary-color">POLICY</span></span><br>
                                To satisfy the requirements of our clients and parties concerned, offering a distinctive quality service through continuous improvement, based on the participation of human capital and the optimization of the processes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque2" id="bloque-valores">
    <div class="row mx-0">
        <div class="col-lg-5 col-md-12 col-sm-12 px-0">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="bg-light active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1" class="bg-light"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2" class="bg-light"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3" class="bg-light"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4" class="bg-light"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">1980</h3>
                            <p class="text-justify text-caption">
                                We started developing applications tailored to the needs of our local clients and offering advice on computing and information processing.
                            </p>
                            <h3 class="text-left">1984</h3>
                            <p class="text-justify text-caption">
                                Our service offerings grew with system development and service bureau, growing our client portfolio.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">1986</h3>
                            <p class="text-justify text-caption">
                                A Marketing Contract with Hewlett Packard Mexico let us open two new business areas: marketing and <i>hardware</i> maintenance.
                            </p>
                            <h3 class="text-left">1987</h3>
                            <p class="text-justify text-caption">
                                We joined the chain of Consultores en Informática y Computación, S.A. de C.V. (nowadays Compusoluciones, one of the most important <i>hardware</i> and <i>software</i> wholesalers in the country).
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">1999</h3>
                            <p class="text-justify text-caption">
                                We evolved by the opening of CallFasst, a (<i>contact center</i>), oriented to provide customer service, technical support, debt collections and <i>Telemarketing</i> services.
                            </p>
                            <h3 class="text-left">2005</h3>
                            <p class="text-justify text-caption">
                                A new division called Softelligence began operations, aimed to offer custom <i>software</i> development, custom systems on Microsoft technology, websites and e-commerce. Through this area, FASST has the exclusive distribution of the Accutone products in Latin America.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">2006</h3>
                            <p class="text-justify text-caption">
                                Softelligence keeps growing and becomes a new company under FASST.
                            </p>
                            <h3 class="text-left">2007</h3>
                            <p class="text-justify text-caption">
                                Posicionart, a new division of Softelligence, began operations aiming to offer professional and innovative digital <i>marketing</i> services.
                            </p>
                            <h3 class="text-left">2008</h3>
                            <p class="text-justify text-caption">
                                CallFasst enters the Spanish market, thanks to our quality and competitive costs among other contact centers.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="<?php echo $httpProtocol.$host.$url ?>img/fasst/grupo_fasst_back_timeline.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block position-absolute my-caption-carousel">
                            <h3 class="text-left">2010</h3>
                            <p class="text-justify text-caption">
                                Softelligence starts a new geolocation project and develops its own mini GPS and getting a Moprosoft certification in the same year.
                                <br><br>
                                At the time, CallFasst achieves an ISO 9001-2008 certification (that keeps until now as an ISO 9001:2015 certification); while FASST joins forces with Compucad S.A. de C.V. to increase our participation in the IT market with leading brands like Autodesk, Adobe, WMware and Microsoft.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 py-5 py-md-5 pt-lg-5 pb-lg-0 d-flex">
            <div class="container-fluid pl-md-0 pl-lg-0 m-auto">
                <div class="row mx-0">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="border-bottom border-light pb-2">
                            <!-- <img class="img-fluid float-left mr-4" src="img/fasst/grupo_fasst_valores_icon.png" alt="Keyword"> -->
                            <i class="fas fa-hand-holding-heart d-inline mr-4 color-p icon-fs"></i>
                            <h2 class="text-uppercase font-weight-light d-inline text-white title-valores">OUR VALUES</h2>
                        </div>
                        <p class="text-justify p-3 text-white my-3 ml-md-3 ml-lg-3" id="texto-valores">
                            <span class="font-weight-bold d-block h4">Loyalty:</span> We consistently support our commitments to customers, suppliers, business and society.
                            <br><br>
                            <span class="font-weight-bold d-block h4">Honesty:</span> We are honest and act in a transparent manner with customers, suppliers, business and society to achieve the common objectives.
                            <br><br>
                            <span class="font-weight-bold d-block h4">Coherence:</span> We think and act according to our values for the fulfillment of the commitments to our customers, suppliers, business and society.
                            <br><br>
                            <span class="font-weight-bold d-block h4">Respect:</span> We accept and attached to the rules and precepts laid down by the company with customers, suppliers and society. 
                            <br><br>
                            <span class="font-weight-bold d-block h4">Responsibility:</span> We fulfill the commitments to our customers, suppliers, business, environment and society.
                            <br><br>
                            <span class="font-weight-bold d-block h4">Trust:</span> We believe in the word and performance of our customers, suppliers, business and society as the basis of all our relationships. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white font-weight-bold mx-md-5 mx-lg-5"><span style='font-size:50px'>+</span><span class="num-title">30</span><br>years of experience</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white font-weight-bold mx-md-5 mx-lg-5"><span class="num-title">9</span><br>established brands<br> in our business areas</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white font-weight-bold mx-md-5 mx-lg-5"><span style='font-size:50px'>+</span><span class="num-title">7</span><br>strategic alliances<br>with the best TI business</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>en/contact-center<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Next Division</a>
        </div>
    </div>
</div>