<footer class="px-5 py-4" id="myFooter">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-8 text-white h-100">
                <img class="img-fluid float-lg-left float-md-left" src="<?php echo $httpProtocol.$host.$url ?>img/fasst_logo_footer.png" alt="">
                <p class="px-md-1 mt-3 mt-md-0 mt-lg-0 px-lg-5 float-md-left float-lg-left">
                    <?php echo date("Y"); ?>. All rights reserved.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-4 text-white">
                <p class="text-center text-md-right text-lg-right">
                    <a href="<?php echo $httpProtocol.$host.$url ?>en/fasst-group<?php echo $ext; ?>" class="primary-color text-decoration-none link-footer">FASST GROUP</a> <a href="#contactModal" data-toggle="modal"  class="text-white text-decoration-none link-footer">CONTACT@</a>
                    <br>
                    <a class="text-white text-decoration-none link-footer" href="tel:8000032778">800 00 FASST (32778)</a> <i class="fas fa-envelope text-white"></i> <a class="text-white text-decoration-none link-footer" href ="mailto: info@fasst.com.mx">info@fasst.com.mx</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="<?php echo $httpProtocol.$host.$url ?>js/jquery.counterup.min.js"></script>
<script>
    AOS.init({disable: 'phone'});
    $('.num-title').counterUp({
        delay: 10,
        time: 1000
    });
</script>
</body>
</html>