<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-left" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-right font-weight-bold text-uppercase text-white">
                    Geolocation<br>and telemetry
                </h1>
                <div class="w-100 text-center text-lg-right text-white">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/geolocalizacion/logo_softelligence.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                        <img id="image-banner-2" src="<?php echo $httpProtocol.$host.$url ?>img/geolocalizacion/logo_ubiqo.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                        <img id="image-banner-3" src="<?php echo $httpProtocol.$host.$url ?>img/geolocalizacion/logo_evidence.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Information technology experts.<br> Effective and modern geolocation and monitoring solutions. 
                        <br><br>
                        We optimize business, personnel and logistics processes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0" id="bloque-ubiqo">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/geolocalizacion/geolocalizacion_telemetria_app_lateral.jpg" alt="" class="img-fluid h-100 w-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="container pl-md-0 pl-lg-0">
            <div class="row py-3 mx-0">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pt-4 pb-2">
                        <!-- <img class="img-fluid float-left mr-4" src="img/geolocalizacion/ubiqo_icon.png" alt="Keyword"> -->
                        <i class="fas fa-map-marked-alt d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white title-ubiqo d-inline">Ubiqo</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-ubiqo">
                        <span class="font-weight-bold font-italic">Everything you need for your tracking work</span>
                        <br><br>
                        Our <i>expertise</i> focuses in the design and manufacture of geolocation and telemetry solutions, through tracking devices, sensors, <i>software</i> and apps.
                        <br><br>
                        We specialize in improving the efficiency and processes of delivery and distribution services, as well as field staff; coordinating the work logistics in a digital monitoring platform.
                        <br><br>
                        <span class="color-p font-weight-bold">GEOLOCATION + TELEMETRY</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center mt-4">
                        <a href="http://www.ubiqo.net/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visit ubiqo.net</a>  
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pt-4 pb-2">
                        <!-- <img class="img-fluid float-left mr-4" src="img/geolocalizacion/evidence_icon.png" alt="Keyword"> -->
                        <i class="fas fa-map-marker-alt d-inline mr-2 color-p icon-fs"></i>
                        <i class="fas fa-mobile-alt d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white d-inline title-evidence">Evidence</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-evidence">
                        <span class="font-weight-bold font-italic">Control over your workforce</span>
                        <br><br>
                        Little by little, field staff tracking has become a key part of comprehensive business management. With Evidence you can enjoy the flexibility of mobile tracking and the assurance that your employees are supervised and safe, using real-time monitoring with easy and precise localization in a dynamic environment, while keeping full control of your operations.
                        <br><br>
                        <span class="color-p font-weight-bold">ALERTS + SOS + FORMS + CHAT EVIDENCE + iOS &amp; ANDROID</span>
                        <br>
                    </p>
                    <div class="text-lg-left text-md-left text-center mt-4">
                        <a href="https://www.evidence.com.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visit evidence.com.mx</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm w-100" id="ul-numeros">
                <li class="list-group-item border-0 bg-transparent px-sm-2 text-uppercase text-center text-white w-25"><span class="num-title">740,000</span><br>dynamic<br> forms</li>
                <li class="list-group-item border-0 bg-transparent px-sm-2 text-uppercase text-center text-white w-25"><span class="num-title">18</span><br>million notifications<br> and counting</li>
                <li class="list-group-item border-0 bg-transparent px-sm-2 text-uppercase text-center text-white w-25"><span class="num-title">22,000</span><br>million <br> coordinates<br> reported</li>
                <li class="list-group-item border-0 bg-transparent px-sm-2 text-uppercase text-center text-white w-25"><span class="num-title">2</span><br>million points of <br> interest created</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>en/digital-marketing<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Next Division</a>
        </div>
    </div>
</div>