<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-white" id="modal-contacto-base">
            <div class="modal-header border-0">
                <h6 class="modal-title w-100 text-center font-weight-light" id="exampleModalLabel"><i class="fas fa-phone"></i> 800 00 FASST (32778) | <i class="far fa-envelope"></i> info@fasst.com.mx</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="../php/enviar-correo<?php echo $ext; ?>" method="POST" id="form-contacto" class="px-5 text-center" onsubmit="return sendEmailContact();">
                    <input type="hidden" name="lang" id="lang" value="EN">
                    <div class="form-group">
                        <label class="font-weight-light" for="Nombre">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-light" for="Teléfono">Telephone</label>
                        <input type="text" class="form-control" maxlength="10" minlength="10" name="tel" id="tel">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-light" for="Email">Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-light" for="Área de Interés">Division of interest</label>
                        <select class="form-control" name="area" id="area">
                            <option selected>Select...</option>
                            <option value="Contact Center">Contact Center</option>
                            <option value="Reclutamiento y Selección">Recruitment and selection</option>
                            <option value="Diademas Telefónicas">Telephone headsets</option>
                            <option value="Geolocalización y Telemetría">Geolocation and telemetry</option>
                            <option value="Marketing Digital">Digital marketing</option>
                            <option value="Software y CRM">Software and CRM</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-light" for="Comentarios">Comments</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-contacto w-100 rounded-0">Contact us</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="display:none;" class="alert alert-danger fade show text-center" role="alert">
    <p id="message_item"></p>
</div>