<nav class="navbar navbar-expand-lg navbar-dark fixed-top pb-0" id="navbar-transparent">
    <div class="d-flex flex-grow-1">
        <a class="navbar-brand ml-5 pb-0" href="<?php echo $httpProtocol.$host.$url ?>" id="navbar-logo">
            <img class="h-75" src="<?php echo $httpProtocol.$host.$url ?>img/fasst_logo_header.png" alt="Imagen Logo Header FASST">
        </a>
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-mobile">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right mt-lg-0 mt-2" id="navbar-toggle-mobile">
        <div class="container">
            <div class="row">
                <p class="ml-auto font-weight-bold d-none d-lg-block mb-2"><a class="py-2 px-2 bg-dark text-warning" href="<?php echo $httpProtocol.$host.$url ?>en/fasst-group<?php echo $ext; ?>">FASST GROUP</a> <a href="#contactModal" data-toggle="modal" class="text-white">CONTACT @</a> <span class="lang_site text-white"><a class="text-warning" href="<?php echo $url_en; ?>">EN</a> | <a class="text-white" href="<?php echo $url_es; ?>">ES</a></span></p>
            </div>
            <div class="row border-top border-light">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item px-3 <?php echo ($page=='home')? 'active':''; ?>">
                        <a class="nav-link text-uppercase font-weight-bold" href="<?php echo $httpProtocol.$host.$url ?>en/contact-center<?php echo $ext; ?>">Contact<br>Center</a>
                    </li>
                    <li class="nav-item px-3 <?php echo ($page=='reclutamiento')? 'active':''; ?>">
                        <a class="nav-link text-uppercase font-weight-bold" href="<?php echo $httpProtocol.$host.$url ?>en/recruitment<?php echo $ext; ?>">Recruitment<br>and selection</a>
                    </li>
                    <li class="nav-item px-3 <?php echo ($page=='diademas')? 'active':''; ?>">
                        <a class="nav-link text-uppercase font-weight-bold" href="<?php echo $httpProtocol.$host.$url ?>en/phone-headsets<?php echo $ext; ?>">telephone<br>headsets</a>
                    </li>
                    <li class="nav-item px-3 <?php echo ($page=='geolocalizacion')? 'active':''; ?>">
                        <a class="nav-link text-uppercase font-weight-bold" href="<?php echo $httpProtocol.$host.$url ?>en/geolocation-and-telemetric<?php echo $ext; ?>">Geolocation<br>and telemetry</a>
                    </li>
                    <li class="nav-item px-3 <?php echo ($page=='marketing')? 'active':''; ?>">
                        <a class="nav-link text-uppercase font-weight-bold" href="<?php echo $httpProtocol.$host.$url ?>en/digital-marketing<?php echo $ext; ?>">Digital<br>marketing</a>
                    </li>
                    <li class="nav-item px-3 <?php echo ($page=='software')? 'active':''; ?>">
                        <a class="nav-link text-uppercase font-weight-bold" href="<?php echo $httpProtocol.$host.$url ?>en/software-and-crm<?php echo $ext; ?>">Software<br>and CRM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>