<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-left" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-right font-weight-bold text-uppercase text-white">
                    Recruitment<br>and selection
                </h1>
                <div class="w-100 text-center text-lg-right text-white">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/reclutamiento/reclutamiento_logo_qre.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                        <img id="image-banner-2" src="<?php echo $httpProtocol.$host.$url ?>img/reclutamiento/reclutamiento_logo_trabajo_vacantes.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Professional recruitment and selection services highly<br> specialized in Queretaro and San Luis Potosi.
                        <br><br>
                        Not only do we find the better qualified candidates, but also<br> the ones that are a perfect fit for the company and the job.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0" id="bloque-vacantes">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/reclutamiento/reclutamiento_seleccion_personal_lateral.jpg" alt="" class="img-fluid h-100 w-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="container pl-md-0 pl-lg-0">
            <div class="row pb-4 pt-5 mx-0">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pb-2">
                        <!-- <img class="img-fluid float-left mr-4" src="img/reclutamiento/reclutamiento_icon.png" alt="Keyword"> -->
                        <i class="fas fa-user-friends d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="text-uppercase font-weight-light text-white title-qre d-inline">QRE<span class="invisible">________________</span></h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-qre">
                        <span class="font-weight-bold font-italic">We believe in human resources: that’s what we do</span>
                        <br><br>
                        With a holistic approach to talent attraction, evaluation and training, QRE is one of the most reliable recruitment companies in Queretaro and San Luis Potosi. We take pride in our commitment with our most important assets, our people, expressed through recognition and reward. Our core values sustain everything we do and are reflected by our people.
                        <br><br>
                        <span class="color-p font-weight-bold">ATTRACTION + EVALUATION + ORGANIZATION DEVELOPMENT + TRAINING + OUTSOURCING</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center mt-4">
                        <a href="https://www.qre.com.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visit qre.com.mx</a>  
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pb-2">
                        <i class="fas fa-user-friends d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white title-vacantes d-inline">Trabajo y Vacantes</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-vacantes">
                        <span class="font-weight-bold font-italic">The key to meaningful work ties</span>
                        <br><br>
                        Currently, social media is an excellent channel to connect with family and friends. Nowadays, they are also an effective way to connect with your next employer or employee. Trabajo y Vacantes is an online community that serves as a bridge between employers and employees, helping with the diffusion of job offers in Queretaro and San Luis Potosi.
                        <br><br><br><br>
                        <span class="color-p font-weight-bold">JOB OFFER DIFFUSION + RECRUITMENT</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center mt-4">
                        <a href="https://www.trabajoyvacantes.mx/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita" target="_blank">Visit trabajoyvacantes.mx</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">45,518</span><br>applicants<br> and counting</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">20,000</span><br>interviews</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">200</span><br>monthly positions<br> covered</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>en/phone-headsets<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark rounded-0 bg-transparent text-uppercase text-white btn-visita">Next Division</a>
        </div>
    </div>
</div>