<div id="banner-home" class="bloque1">
    <div id="container-header-elements" class="w-100">
        <div class="row w-100 mx-0">
            <div class="aos-init w-100" data-aos="fade-left" 
            data-aos-offset="200" data-aos-delay="50" 
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="false"
            data-aos-once="false">
                <h1 id="banner-message-1" class="w-100 text-center text-lg-right font-weight-bold text-uppercase text-white">
                    Software<br>and CRM
                </h1>
                <div class="w-100 text-center text-lg-right text-white">
                    <div>
                        <img id="image-banner-1" src="<?php echo $httpProtocol.$host.$url ?>img/software/logo_kapta.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0">
                        <img id="image-banner-2" src="<?php echo $httpProtocol.$host.$url ?>img/software/logo_prospekta.png" alt="Keyword" class="mt-3 mt-md-0 mt-lg-0 ml-lg-3 ml-md-3">
                    </div>
                    <p class="mt-4" id="banner-message-2">
                        Software development that improves<br> the efficiency of prospect attraction for educative institutions<br> and personnel recruitment companies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0" id="bloque-crm">
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        <img src="<?php echo $httpProtocol.$host.$url ?>img/software/software_lateral_dashboard.jpg" alt="" class="img-fluid h-100 w-100">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 ">
        <div class="container pl-md-0 pl-lg-0">
            <div class="row py-1 mx-0">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pt-4 pb-2">
                        <!-- <img class="img-fluid float-left mr-4 pt-4" src="img/software/kapta_icon.png" alt="Keyword"> -->
                        <i class="fas fa-graduation-cap d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white d-inline title-kapta pt-4">Kapta crm</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-kapta">
                        <span class="font-weight-bold font-italic">The digital solution that will change your school</span>
                        <br><br>
                        A good CRM is the medular spine of all <i>marketing</i> efforts in the prospection of new students. 
                        Kapta system helps education professionals promote the ties with the prospects and create insights based in data to follow the progress of the process, the general productivity and the progress of individual members of the prospection team, optimizing their admission process and all the marketing strategies to save time and money.
                        <br><br>
                        <span class="color-p font-weight-bold">MULTIPLE USERS + REPORTS + ALERTS + AUTOMATIC ANSWERS</span>
                    </p>
                    <div class="text-lg-left text-md-left text-center">
                        <a href="https://www.kaptacrm.net/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita my-4" target="_blank">Visit kaptacrm.net</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="border-bottom border-light pt-4 pb-2">
                        <!-- <img class="img-fluid float-left mr-4 pt-4" src="img/software/prospekta_icon.png" alt="Keyword"> -->
                        <i class="fas fa-clipboard-list d-inline mr-4 color-p icon-fs"></i>
                        <h2 class="font-weight-light text-white d-inline title-prospekta pt-4">Prospekta</h2>
                    </div>
                    <p class="text-justify text-white mt-3 mb-2 p-3" id="texto-prospketa">
                        <span class="font-weight-bold font-italic">Turn your recruitment process into a competitive advantage</span>
                        <br><br>
                        Prospekta is a recruitment system, designed to optimize the whole personnel recruiting and talent attraction process. Find better candidates, carry out better interviews and take better hiring decisions with the data to back them up. Get for your company the best tool to optimize your whole recruitment process.
                        <br><br>
                        <span class="color-p font-weight-bold">JOB OFFER PUBLICATION + DIFFUSION +  PLANNER + DATA BASE + REPORTS</span>
                        <br><br>
                    </p>
                    <div class="text-lg-left text-md-left text-center">
                        <a href="https://www.prospektacrm.net/" class="btn btn-lg btn-outline-light bg-dark rounded-0 text-white px-4 btn-visita my-4" target="_blank">Visit prospektacrm.net</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 bloque3" id="bloque-numeros">
    <div id="container-nums-elements" class="w-100">
        <div class="row w-100 mx-0 justify-content-center">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">40,000</span><br>candidates registered<br> and processed</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span class="num-title">96</span><span style="font-size: 50px">%</span><br>applications followed<br> up effectively</li>
                <li class="list-group-item border-0 bg-transparent text-uppercase text-center text-white mx-md-5 mx-lg-5"><span style="font-size: 50px">+</span><span class="num-title">6,000</span><br>new students<br> registered</li>
            </ul>
            <hr class="clearfix w-100 border-0">
            <a href="<?php echo $httpProtocol.$host.$url ?>en/fasst-group<?php echo $ext; ?>" class="btn btn-lg btn-outline-light bg-dark bg-transparent rounded-0 text-uppercase text-white btn-visita">Next Division</a>
        </div>
    </div>
</div>